<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kylerdavisc196project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteEdit"
            android:label="@string/title_activity_note_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NoteView"
            android:label="@string/title_activity_note_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MentorView"
            android:label="@string/title_activity_mentor_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alert"
            android:label="@string/title_activity_alert"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseEdit"
            android:label="@string/title_activity_edit_course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermEdit"
            android:label="@string/title_activity_the_term_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseView"
            android:label="@string/title_activity_the_course_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AssessmentView" />
        <activity android:name=".TermCreate" />
        <activity
            android:name=".TermView"
            android:label="@string/title_activity_term_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermList"
            android:label="@string/title_activity_term_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>